moteur/target/
moteur/pom.xml.tag
moteur/pom.xml.releaseBackup
moteur/pom.xml.versionsBackup
moteur/pom.xml.next
moteur/release.properties
moteur/dependency-reduced-pom.xml
moteur/buildNumber.properties
moteur/.mvn/timing.properties
moteur/bin
moteur/target
moteur/.project
moteur/.classpath
moteur/.idea/*
moteur/.settings
moteur/.idea
moteur-1.0.jar

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
bin
target
.project
.classpath
.idea/*
.settings
.idea